body{
    margin: 0;
    width: 1010px;
    margin: auto;
}

/* Intestazione */

header{
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-size: cover;
    background-size: 40%;
}
#logoBooleaner{
    height: 45px;
    margin-top: 45px;
    margin-left: 5px;

}
/* Fine Intestazione */

/* Titolo articolo */
#titoloArticolo{
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 0;
    margin-left: 5px;
}
#sottotitolo{
    font-size: 16px;
    color: gray;
    margin-top: 0;
    margin-left: 5px;
    margin-bottom: 0px;
}
#sottotitoloLink{
    color: #5ec1ec;
}
#dataSottotitolo{
    font-size: 12px;
    color: gray;
    margin-top: 0;
    margin-left: 5px;
}
/* Fine Titolo articolo */

/* Foto */
.infoFoto{
    font-size: 13px;
    margin: 0;
}
/*Fine Foto */

/* lista */
.lista{
    padding-left: 20px;
}
/* Fine lista */