body{
    margin: 0;
    width: 1010px;
    margin: auto;
}

/* Intestazione */

header{
    background-color: #4ea0ff;
    background-image: url(../img/pattern.png);
    background-size: cover;
    background-size: 40%;
}
#logoBooleaner{
    height: 45px;
    margin-top: 45px;
    margin-left: 5px;

}
/* Fine Intestazione */

/* Titolo articolo */
#titoloArticolo{
    font-size: 40px;
    margin-top: 15px;
    margin-bottom: 0;
    margin-left: 5px;
}
#sottotitolo{
    font-size: 16px;
    color: gray;
    margin-top: 0;
    margin-left: 5px;
    margin-bottom: 0px;
}
#sottotitoloLink{
    color: #5ec1ec;
}
#dataSottotitolo{
    font-size: 12px;
    color: gray;
    margin-top: 0;
    margin-left: 5px;
}
/* Fine Titolo articolo */

/* Foto */
.infoFoto{
    font-size: 13px;
    margin: 0;
}
/*Fine Foto */

/* lista */
.lista{
    padding-left: 20px;
}
/* Fine lista */

/* Tabella */
#tabella{
    width: 100%;
}
.titoloTabella{
    background-color: #20a9e5;
    color: white;
    text-align: left;
    height: 5px;
}
.cellaPiccola{
    width: 25%;
    width: 20%;
}
.cellaAzzurra{
    background-color: #b1e5f2;

}
/*Fine Tabella */

/* footer */
#infoTesto{
    color: #707070;
    margin-top: 30px;
    margin-bottom: 8px;
}
.nomeFoto{
    color: white;
    margin: 0;
    font-size: 20px;
    padding-top: 7px;
    padding-left: 7px;
}
#fotoMonitor{
    width: 250px;
    height: 150px;
    background-image: url(../img/monitor.jpg);
    background-size: cover;
    margin-bottom: 10px;
}
#fotoGrafica{
    width: 250px;
    height: 150px;
    background-image: url(../img/graph.jpg);
    background-size: cover;
}

